body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.caixa {
  background: rgb(236, 184, 184);
  border: 2px solid #c75a5a; /* linha em volta */
  border-radius: 15px; /* cantos arredondados */
  padding: 20px 30px;
  margin: 20px auto; /* espaço do topo */
  width: fit-content; /* largura ajusta ao conteúdo */
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
}
